<div id="<%= dom_id card %>">
  <p>
    <strong>Title:</strong>
    <%= card.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= card.body %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= card.tags %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= card.category %>
  </p>

  <p>
    <strong>Lane:</strong>
    <%= card.lane_id %>
  </p>

</div>
