<turbo-frame id="<%= dom_id card %>">
  <div>
    <%= form_with(model: [@lane, card], class: "card card--edit") do |form| %>
      <% if card.errors.any? %>
        <div style="color: red">
          <h2>Error</h2>

          <ul>
            <% card.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <h3>
        <%= form.label :title, "Title", class: "visuallyhidden" %>
        <%= form.text_field :title, placeholder: "Add a Title...", "aria-label": "Title" %>
      </h3>
      <p>
        <%= form.label :body, "Description", class: "visuallyhidden" %>
        <%= form.text_field :body %>
      </p>

      <div>
        <%= form.submit class: "btn btn--slim btn--secondary" %>
      </div>
    <% end %>
  </div>
</turbo-frame>
