<p style="color: green"><%= notice %></p>

<%= render @card %>

<div>
  <%= link_to "Edit this card", edit_lane_card_path(@lane, @card) %> |
  <%= link_to "Back to cards", lane_cards_path(@lane) %>

  <%= button_to "Destroy this card", [@lane, @card], method: :delete %>
</div>
